{% extends 'basic.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="mr-lg-5" style="padding-bottom: 10px">Здравствуйте, {{ user.username }}</h4>
    <div class="h5 mr-lg-4 p-3 text-center fixed-start" style="border: solid 1px red; border-radius: 1em; margin-top: 80px ">Ваши заявки</div>
    <div class="d-flex justify-content-start mr-lg-4 mb-2 text-secondary">
        <a class="btn  text-dark border-danger m-3" href="{% url 'profile' %}" style="">Все</a>
        <a class="btn  text-dark  border-danger m-3" href="{% url 'filter' status='new' %}" style="">Новые</a>
        <a class="btn  text-dark border-danger m-3" href="{% url 'filter' status='done' %}" style="">Выполненые</a>
        <a class="btn  text-dark  border-danger m-3" href="{% url 'filter' status='received' %} " style="">Принятые</a>
    </div>
    {% if apl_items %}
        {% for item in apl_items %}
            <div class="h5 mr-lg-4 p-3 text-center " style="border: solid 1px red; border-radius: 1em ">

                <img class="col-4" src="{{ item.photo.url }}" alt="Фото заявки">
                <p class="p-3 mb-2 mr-auto"><b>Наименование:</b> {{ item.name }} <br>
                    <b>Категория:</b> {{ item.Category }}
                    <br> <b>Дата добавления:</b> {{ item.date }} <br> <b>Описание:</b> {{ item.description }}
                    <br><b>Статус: </b>{{ item.status_verbose }}</p>

                {#                {% if item.status == 'new' %}#}
                {#                    <button id="myBtn" class="btn btn-outline-danger mt-auto  ml-auto h-25">Удалить</button>#}
                {#                {% endif %}#}

                {% if item.status == 'new' %}
                    <a class="btn ml-auto mt-auto h-100 p-1" href="#" onclick="del(this,{{ item.pk }})">
                        <button type="button" class="btn btn-outline-danger mt-auto  ml-auto h-25">Удалить</button>

                        <a class="delButton mt-auto ml-auto" hidden="true" href="/delete/{{ item.pk }}">
                            <button type="button" class="btn btn-outline-danger">Точно удалить</button>
                        </a>
                    </a>
                {% endif %}

            </div>
        {% endfor %}
    {% else %}
        <p class="">Вы еще не создали ни одну заявку</p>
    {% endif %}

    <script>
        del = (targe, pk) => {
            let targButton = targe;
            let delButton = targe.nextSibling;
            targButton.hidden = true;
            delButton.hidden = false;
        }
    </script>
{% endblock %}